<!doctype html>
<html lang=en>
<head>
</head>

<body>

<h1>{{PageTitle}}</h1>
<p>from GCF <a href="{{GCFaddress}}">WhatsYourFavoriteBand()</a> : {{GCFMessage}}</p>
<p>from VPC connector to GCE <a href="{{GCEaddress}}">WhatsYourFavoriteBand()</a>  : {{VPCMessage}}</p>

<p>from query string: {{QueryStringMessage}}</p>
<p>cookie: {{request.cookies.get('testcookie')  }}</p>
<form action="/" method="get">
    <input name="x">
    <input type="submit" value="submit">
</form>
<a href="/">reload without arguments</a>
</body>
</html>
